/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-primary: #fa4125;
  --color-secondary: #7aa5f7;
  --color-tertiary: #02446e;

  --color-white-100: #f8f8f8;
  --color-white-200: #f2f2f2;

  --color-black-100: #111519;
  --color-black-200: #212935;

  --color-gray-100: #232e3f;
  --color-gray-200: #333d4c;

  --color-gray-clear-100: rgba(224, 234, 234, 0.65);
  --color-gray-clear-200: rgba(184, 184, 184, 0.48);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-black-100);
  --color-background-soft: var(--color-black-200);

  --color-border: var(--color-gray-clear-200);
  --color-border-hover: var(--color-gray-clear-100);

  --color-heading: var(--color-white-100);
  --color-text: var(--color-gray-clear-100);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
