@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.link {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  padding: 3px;
  border-radius: 4px;;
  cursor: pointer;
}

a:hover,
.link:hover {
  background-color: var(--color-gray-200);
}
